@model Project_NotesDeFrais.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Bienvenue</h4>
<hr />
@{
    <figure>
        <img src="/Content/images/login.png" width="180" height="150" />
    </figure>
}
